
.navBar {
    position: absolute;
    width: 100%;
    height: min(90px,60vh);
    background-color: #F9F9F9;
    border-width:4;
    color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.infoHandler{
    height: 100%;
    display: flex;
    align-items: center;
    flex: 3;
}


.navBar a{
    flex:1;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    line-height: 24px;
}

.searchHandler{
    height: 100%;
    display: flex;

}


.loginHandler{
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}

.loginHandler a{
    width: 45px;
    height: 19px;
    font-size: 14px;
    color: #535252;

}

.loginHandler button{
    width: 90px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6A85E3;
    border: 1px solid #000000;
    border-radius: 7px;
    
}
.loginHandler button p {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 600;
}